@use 'config' as c;

.art02 {
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        padding: initial;
    }
    @media only screen and (min-width:c.$desktop){
        width: 80%;
        row-gap: 3rem;
    }

    >:nth-child(1){
        background-color: rgb(186, 196, 228);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
        @media only screen and (min-width:c.$tablet){
            width: 80%;
        }

    } 
    >:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        @media only screen and (min-width:c.$tablet){
        width: 80%;
        flex-direction: row;
        column-gap: 1.5rem;
        row-gap: initial;
        }
    
        .item {
        width: 100%;
        // height: calc(100dvw - 3rem);
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        // @media only screen and (min-width:c.$tablet){
        //     height: 40dvh;
        // }

        &:hover{
        >:nth-child(1){
        filter: opacity(0);
        transition: 1s;
        }
        img {
        filter: grayscale(0);
        transform: scale(1.3);
        transition: 1s;
        }
        p{
            filter: opacity(1);
            transition: 1.5s;
        }

        }
            
        >:nth-child(1){
        position: absolute;
        z-index: 100;
        font-size: clamp(2rem, 3vw, 5rem);
        color: c.$color00;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;

        } 
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(1);
        transition: .5s;
            } 
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;
            color: c.$color00;
            background-color: rgba(0, 0, 0, 0.493);
            padding: 1rem 1.5rem;
            backdrop-filter: blur(3px);
            filter: opacity(0);
            transition: .5s;
        }      
        }   
    }
}

