#modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__container {
        background-color: rgba(211, 200, 200, 0.7);
        height: 500px;
        padding: 1rem;
        border-radius: 0.5rem;

        .modal__header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

        .modal--btn-close{
            color: rgb(5, 240, 44);
                font-size: 1.5rem;
                transition: scale 300ms;

                &:hover {
                    cursor: pointer;
                     scale: 0.7;
                    }
                }
            }
        width: 80%;
        }
    }
