@use 'config' as c;

.artGrid {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas: 
    'area01'
    'area02'
    'area03'
    'area04'
    'area05'
    'area06'
    ;
    @media only screen and (min-width:c.$tablet){
        grid-auto-rows: 20%;
        gap: .5rem;
        grid-auto-columns: 50% auto;
        grid-template-areas:
        'area01 area01'
        'area02 area03'
        'area04 area04'
        'area05 area06'
        ;

    }
}